<fieldset>
  <legend>Upload Files</legend>
  <ngfFormData
    [files]="files"
    postName="file"
    [(FormData)]="sendableFormData"></ngfFormData>

  <ngfUploadStatus
    [(percent)]="progress"
    [httpEvent]="httpEvent"></ngfUploadStatus>


  <div class="inline-block">
    <div class="inline-block">
      <input
        ngfSelect
        multiple
        type="file"
        [(files)]="files"
        [accept]="accept"
        [maxSize]="maxSize"
        (filesChange)="lastFileAt=getDate()"
        />
    </div>
  </div>

  <div style="margin-top: 30px; margin-bottom: 40px" *ngIf="files.length">
    <h5>{{ files.length }} Queued Files</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Size</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of files;let i=index">
          <td>
            <div
              *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
              <div class="previewIcon" [ngfBackground]="item"></div>
            </div>
            <strong>{{ item.name }}</strong>
          </td>
          <td nowrap>
            {{ item.type }}
          </td>
          <td nowrap>
            {{ item.size/1024/1024 | number:'.2' }} MB
          </td>
          <td nowrap>
            <button type="button"
              class="btn btn-danger btn-xs"
              (click)="files.splice(i,1)">
              <span class="fa fa-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        <span *ngIf="progress !== 100">Queue progress:</span>
        <span *ngIf="progress === 100" class="complete"><i
            *ngIf="progress===100" class="fa fa-check-circle"></i> Upload
          Complete:</span>
        <div class="progress" style="">
          <div class="progress-bar"
            role="progressbar"
            [ngStyle]="{ 'width': progress + '%' }"></div>
        </div>
      </div>

      <ng-container *ngIf="lastFileAt">
        <p style="margin-bottom: 30px; display: block;">
          <strong>Last file(s) selected At:</strong> {{ lastFileAt | date :
          'longTime' }}
        </p>
      </ng-container>



      <button type="button"
        class="btn btn-primary btn-s"
        (click)="uploadFiles(files)"
        [disabled]="!files.length">
        <span class="fa fa-upload"></span> Upload all
      </button>

      <button type="button"
        class="btn btn-warning btn-s"
        (click)="cancel()"
        [disabled]="!httpEmitter">
        <span class="fa fa-times-circle"></span> Cancel all
      </button>
      <button type="button"
        class="btn btn-danger btn-s"
        (click)="files.length=0; progress=0;"
        [disabled]="!files.length">
        <span class="fa fa-trash"></span> Remove all
      </button>
    </div>
  </div>
</fieldset>
