<b-sidebar-panel>
  <h5 class="card-header panel-title">Search</h5>
  <div class="input-group panel-body">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button">Go!</button>
    </span>
  </div>
</b-sidebar-panel>

<!-- Categories Widget -->
<b-sidebar-panel>
  <h5 class="card-header panel-title">Categories</h5>
  <div class="input-group panel-body">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">Web Design</a>
          </li>
          <li>
            <a href="#">HTML</a>
          </li>
          <li>
            <a href="#">Freebies</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">JavaScript</a>
          </li>
          <li>
            <a href="#">CSS</a>
          </li>
          <li>
            <a href="#">Tutorials</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</b-sidebar-panel>

<!-- Side Widget -->
<b-sidebar-panel>
    <h5 class="card-header panel-title">Side Widget</h5>
    <div class="panel-body">
      You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
    </div>
</b-sidebar-panel>
